<div class="quiz-container" *ngIf="quiz">
  <h2>{{ quiz.title }}</h2>
  <p>{{ quiz.description }}</p>

  <!-- Stepper for Questions -->
  <mat-horizontal-stepper #stepper linear>
    <mat-step *ngFor="let question of quiz.questions; let i = index" [completed]="isAnswered(i)">
      <ng-template matStepLabel>Question {{ i + 1 }}</ng-template>

      <div class="question-content">
        <h3>{{ question.text }}</h3>

        <mat-radio-group (change)="selectAnswer(i, $event.value)">
          <mat-radio-button *ngFor="let option of question.options" [value]="option.id">
            {{ option.text }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="stepper-buttons">
        <button mat-button matStepperPrevious *ngIf="i > 0">Previous</button>
        <button mat-button matStepperNext [disabled]="!isAnswered(i)" *ngIf="i < quiz.questions.length - 1">
          Next
        </button>
        <button mat-raised-button color="primary" (click)="submitQuiz()" *ngIf="i === quiz.questions.length - 1">
          Submit Quiz
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
