.quiz-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacement entre les cartes */
  justify-content: flex-start;
  padding: 16px;
}

.quiz-card {
  width: 300px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.quiz-card:hover {
  transform: translateY(-5px); /* Déplace la carte vers le haut */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Ajouter une ombre */
}

mat-card {
  padding: 16px;
  border-radius: 8px;
}
